body {
    font-family: Verdana, Arial, Times, sans-serif;
    font-size: 85%;
    line-height: 150%;
    margin: 5%;
    color: #320e3b;
    background-color: #d1b7d8;
}

a {
    color: #320e3b;
}

a:visited {
    color:#3f6455;
}

img {
    border: 2px solid #320e3b;
}

a.skip {
    position: absolute;
    top: -40px;
    padding: 6px;
    font-size: 150%;
    color: #ffffff;
    background-color: #320e3b;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus {
    position: absolute;
    top: 20px;
}

h1 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 200%;
    font-weight: bold;
    color: #ffffff;
    background-color: #5b3d62;
    padding: 3%;
    border: 3px solid #320e3b;
    border-radius: 15px;
    text-align: center;
}

h2 {
    display: inline-block;
    font-family: Verdana, Arial, sans-serif;
    font-size: 150%;
    font-weight: bold;
    color: #ffffff;
    background-color: #320e3b;
    padding: 3%;
    border: 3px solid #320e3b;
    border-radius: 15px;
    text-align: center;
}

h3 {
    font-family: Verdana, Arial, sans-serif;
    font-size: 125%;
    font-weight: bold;
    color: #ffffff;
    background-color: #3f6455;
    padding: 3%;
    border: 3px solid #3f6455;
    border-radius: 15px;
    text-align: center;
}

p {
    margin: 2%;
}

nav {
    margin: 0 0 3% 0;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: decimal;
}

nav li {
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 100%;
    font-weight: normal;
    width: 21%;
    padding: 2% 0;
    margin: 0 1.5%;
    border: 1.5px solid #3f6455;
    background-color: #ceffec;
    border-radius: 15px;
    text-align: center;
}

li a {
    color: #3f6455;
    text-decoration: none;
}

.active {
    background-color: #3f6455;
    border: 3px dashed #ceffec;
}

.active a {
    color: #ffffff;
    font-weight: bold;
}

footer {
    font-size: 10%;
}

.flex-container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.flex-container-jump {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin: auto;
    align-content: center;
}

.jump {
    border: 0;
    background: #320e3b;
    border-radius: 4px;
    box-shadow: 0 5px 0 #ceffec;
    color: #ffffff;
    cursor: pointer;
    margin: 1% 0;
    padding: 12px 20px;
    width: 94%;
    transition: all .1s linear;
    font-family: Verdana, Arial, Times, sans-serif;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
  }

.jump:active {
    box-shadow: 0 2px 0 #ceffec;
    transform: translateY(3px);
}

.jump:visited {
    color:#ffffff;
}

.container {
    display: grid;
    grid-template-columns: 98%;
    margin: 0 auto;
}

.pet {
    display: grid;
    grid-template-columns: 48% 48%;
    border: 2px solid #320e3b;
    border-radius: 15px;
    margin: 5% 2%;
    padding: 2%;
    width: 90%;
    max-height: 1200px;
    background-color: #ab8db4;
    gap: 2%;
    justify-content: center;
}

.pet h2 {
    grid-column: 1/-1;
}

.pet img {
    width: 100%;
    grid-column: 1/-1;
}

.pet p {
    grid-column: 1/2;
}

.pet p:last-of-type {
    grid-area: 4/1/5/-1;
    overflow: scroll;
}

.likes {
    grid-area: 3/2/4/-1;
    background-color: #ceffec;
    padding: 5%;
    border: 2px solid #3f6455;
    border-radius: 15px;
    text-align: left;
}

.likes ul {
    padding: 5% 0 0 20%;
}

.recipe {
    display: grid;
    grid-template-columns: 48% 48%;
    border: 2px solid #320e3b;
    border-radius: 15px;
    margin: 5% 2%;
    padding: 2%;
    width: 90%;
    max-height: 1200px;
    background-color: #ab8db4;
    gap: 2%;
    justify-content: center;
}

.recipe h2 {
    grid-column: 1/-1;
}

.recipe img {
    width: 100%;
    grid-column: 1/-1;
}

.description h3 {
    background-color: #320e3b;
    border: 3px solid #320e3b;
}

.ingredients {
    background-color: #ceffec;
    border: 2px solid #3f6455;
    border-radius: 15px;
    padding: 5%;
    text-align: left;
}

.ingredients ul {
    padding: 5% 0 0 15%;
}

.preparation {
    grid-column: 1/-1;
    text-align: left;
    overflow: scroll;
}

.preparation ol {
    padding-left: 10%;
}

.preparation h3 {
    background-color: #320e3b;
    border: 3px solid #320e3b;
}

.destination {
    display: grid;
    grid-template-columns: 96%;
    border: 2px solid #320e3b;
    border-radius: 15px;
    margin: 5% 2%;
    padding: 2%;
    width: 90%;
    height: 700px;
    background-color: #ab8db4;
    gap: 2%;
    justify-content: center;
}

.destination h2 {
    grid-column: 1/-1;
}

.destination img {
    width: 100%;
    grid-column: 1/-1;
}

.highlights {
    grid-area: 3/1/4/-1;
    background-color: #ceffec;
    padding: 3.5%;
    border: 2px solid #3f6455;
    border-radius: 15px;
    text-align: left;
}

.highlights ul {
    padding: 2.5% 0 0 10%;
}

.travel-notes {
    overflow: scroll;
}

.travel-notes h3 {
    background-color: #320e3b;
    border-color: #320e3b;
}

@media screen and (min-width:800px){
    .container {
        grid-template-columns: 48% 48%;
        justify-content: space-evenly;
    }

    .flex-container-jump {
        flex-direction: row;
        justify-content: space-evenly;
        align-content: center;
    }

    .jump {
        width: 25%;
      }

    .pet {
        gap: 1% 2%;
        max-height: ;
    }

    .likes {
        grid-area: 3/1/4/-1;
    }

    .pet p {
        grid-column: 1/-1;
    }

    .pet p:last-of-type {
        grid-area: 5/1/6/-1;
        overflow: scroll;
    }

    .pet:last-child {
        grid-column: 1/-1;
    }

    .pet:last-child img {
        grid-column: 1/2;
    }

    .pet:last-child .likes {
        grid-area: 2/2/3/-1;
    }

    .pet:last-child p {
        grid-column: 1/-1;
    }

    .pet:last-child p:last-of-type {
        grid-row: 4/1/5/-1;
    }

    .recipe {
        gap: 1% 2%;
    }
    
    .description, .ingredients, .recipe:last-child {
        grid-column: 1/-1;
    }

    .recipe:last-child .ingredients {
        grid-area: 3/2/7/-1;
    }

    .recipe:last-child .description {
        grid-area: 3/1/4/2;
    }

    .recipe:last-child .preparation {
        grid-area: 4/1/5/2;
    }

    .destination {
        gap: 1% 2%;
    }

    .destination:last-child {
        grid-column: 1/-1;
        grid-template-columns: 48% 48%;
    }

    .destination:last-child .highlights {
        grid-area: 3/2/4/-1;
    }

    .destination:last-child .travel-notes {
        grid-area: 3/1/4/2;
    }

}

@media screen and (prefers-reduced-motion: reduce) {
    a.skip, .jump {
        transition: none;
      }

      .jump:active {
        box-shadow: 0 5px 0 #ceffec;
        transform: none;
    }
}